.layout-container{
    width: min(1200px,100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em;
    img{
        display: block;
        margin-bottom: 1em;
        opacity: 60%;
    }

    
}
